@use "sass:map";
@import "mixins";

.about {
  @include main ();

  &_content {
    margin: 0 7rem;
  }

  &_header {
    @include headline;
  }

  .text {
    @include font;
    font-weight: normal;
    line-height: 2rem;
  }
}
