@use "sass:map";
@import "mixins";

.about {
  @include background;
  font-size: 1.5rem;

  &_content {
    margin: 0 7rem;
  }

  &_header {
    @include headline;
  }

  .text {
    @include font;
    font-weight: normal;
    line-height: 2rem;

    &_instaLink {
      text-decoration: none;
      color: rgb(100, 100, 100);
    }
  }
}

@media (max-width: 792px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    overflow-y: scroll;

    &_content {
      margin: 0;
      padding: 0 2rem 3rem 2rem;
    }

    .text {
      @include font;
      font-weight: normal;
      font-size: 5vw;
      line-height: 1.5rem;
      text-align: justify;
    }
  }
}
