@use "sass:map";
@import "mixins";

.collaborations {
  @include main;

  &_header {
    @include headline;
  }

  .lists {
    display: flex;
    justify-content: space-evenly;
  }

  .text {
    @include linkProps;
    color: map.get($try, font-color);
    font-weight: normal;
    vertical-align: center;
    line-height: 2rem;
  }
}
