@use "sass:map";
@import "mixins";

.collaborations {
  @include background;

  &_header {
    @include headline;
  }

  .lists {
    display: flex;
    justify-content: space-evenly;
  }

  .text {
    @include linkProps;
    color: map.get($try, font-color);
    font-weight: normal;
    vertical-align: center;
    line-height: 1.7vw;
    font-size: 1.5vw;
  }
}

@media (max-width: 792px) {
  .collaborations {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    overflow-y: scroll;

    .all-text {
      margin: 0;
      padding: 0 2rem 3rem 2rem;
      text-align: center;

      .lists {
        display: flex;
        flex-direction: column;

        li {
          padding-bottom: 25px;

          .text {
            line-height: 1.5rem;
            font-size: 5vw;
          }
        }
      }
    }
  }
}
