@use "sass:map";
@import "mixins";

.form-background {
  background-color: map.get($try, form-background);
  height: 40rem;
  width: 65rem;
  z-index: 1000;
  @include position;
  border-radius: 10px;
  box-shadow: 0 0 20px map.get($colors, form-shadow);

  .close-btn {
    height: 30px;
    width: 30px;
    background-color: map.get($try, form-background-two);
    color: map.get($colors, accent-shadow);
    border: 2px solid map.get($colors, accent-shadow);
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      height: 35px;
      width: 35px;
      top: 7px;
      right: 7px;
    };
  }
}

.contact-btn {
  margin: 0 50px;
  padding-top: 5px;
  background-color: transparent;
  border: none;
  @include font;
  color: #dedede;
  font-size: 1.5rem;
  text-shadow: 5px 5px 10px map.get($colors, shadow);
  cursor: pointer;

  &:hover {
    letter-spacing: 3px;
    margin: 0 45px;
    color: white;
  };
}

@media (max-width: 792px) {

  .form-background {
    width: 80vw;
  }
}
