@use "sass:map";

.footer {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  background-color: map.get($try, footer);
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 30px -10px 40px map.get($colors, shadow),
              -1665px -10px 40px map.get($colors, shadow);

  &-list {
    margin: 0 40px;
    display: flex;
    align-items: center;

    .link {
      margin: 0 20px;

      &:hover {
        margin: 0 17px;
      }
    }

      .icon {
        height: 20px;
        width: 20px;

        &:hover {
          height: 26px;
          width: 26px;
          cursor: pointer;
        }
     }
  }
}
