@use "sass:map";

.footer {
  box-sizing: border-box;
  background-color: map.get($try, footer);
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-list {
    margin: 0 40px;
    display: flex;
    align-items: center;

    .link {
      margin: 0 20px;

      &:hover {
        margin: 0 17px;
      }
    }

    .icon {
      height: 20px;
      width: 20px;

      &:hover {
        height: 26px;
        width: 26px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 792px) {
  .footer {
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;

    .contact-btn {
      margin-bottom: 0.5rem;
      padding: 0;
    }
  }
}
