@use "sass:map";
@import "mixins";

.gallery {
  @include background;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 10rem;

  .image {
    width: 20rem;
    margin: 0.5rem 3rem;
    border: 3px solid map.get($try, font-color-shadow);

    &:hover {
      box-shadow: 0 0 10px map.get($try, font-color-shadow);
    }
  }

  .link {
    @include linkProps();
    color: #464646;
    text-shadow: 0 1px 1px map.get($try, shadow);


    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 792px) {
  .gallery {
    overflow-y: scroll;
    padding: 4rem 0;

    .image {
      width: 18rem;
    }
  }

  .link {
    .content {
      margin-bottom: 3rem;
    }
  }
}
