@use "sass:map";
@import "mixins";

.navigation {
  position: relative;
  z-index: 1;

    padding-top: 8px;
    margin: 0;
    background-color: map.get($try, header);
    height: 5vh;
    //box-shadow: 0 10px 10px map.get($try, shadow);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &-list {
      list-style: none;
    }

  .link {
    @include linkProps();
    color: #464646;
    text-shadow: 0 1px 1px map.get($try, shadow);
  }
}
