@use "sass:map";
@import "mixins";

.interviews {
  @include background;
  text-align: center;

  &_header {
    @include headline;
  }

  ul {
    padding-top: 10vh
  }

  .text {
    @include linkProps;
    color: map.get($try, font-color);
    font-weight: normal;
    vertical-align: center;
    line-height: 1.7vw;
    font-size: 1.5vw;
  }
}

@media (max-width: 792px) {
  .interviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 0 2rem 3rem 2rem;
    text-align: center;

    ul {
      padding-top: 0;

      li {
        padding-bottom: 25px;

        .text {
          line-height: 1.5rem;
          font-size: 5vw;
        }
      }
    }
  }
}
