@use "sass:map";
@import "mixins";

.interviews {
  @include background ();
  text-align: center;

  &_header {
    @include headline;
  }

  .text {
    @include linkProps;
    color: map.get($try, font-color);
    font-weight: normal;
    vertical-align: center;
    line-height: 2rem;
  }
}

@media (max-width: 792px) {
  .interviews {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin: 0;
    padding: 0 4rem 3rem 4rem;
    text-align: center;

    li {
      padding-bottom: 20px;

      .text {
        line-height: 1.5rem;
      }
    }

  }
}
