@use "sass:map";
@import "mixins";

.interviews {
  @include main ();
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .text {
    color: map.get($colors, main-font-color);
  }
}
