@use "sass:map";

$colors: (
        header: #9a9a9a,
        main: rgba(31, 31, 31, 0.92),
        footer: rgba(31, 31, 31, 0.92),
        shadow: #1a1a1a,
        form: rgba(154, 154, 154, 0.95),
        form-shadow: #494949,
        font-color: #1F1F1F,
        main-font-color: #bebebe,
        button: rgba(0, 0, 0, 0),
        accent: #7c2d2d,
        accent-shadow: rgba(121, 62, 62, 0.96)
);

//$try: (
//        background: #fff1e8,
//        footer: #704545,
//        header: #917777,
//        shadow: #655b5d,
//        font-color: #3b3b3b,
//        font-color-shadow: #DDBEA9,
//        form-background: rgba(238, 238, 238, 0.93),
//        form-background-two: rgba(224, 224, 224, 0.87)
//)

//#ffebbf

//$try: (
//        background: #88827f,
//        footer: #5e5a58,
//        header: #88827f,
//        shadow: #655b5d,
//        font-color: #2c2c2c,
//        font-color-shadow: #494949,
//        form-background: rgba(238, 238, 238, 0.93),
//        form-background-two: rgba(224, 224, 224, 0.87)
//)

$try: (
        background: #b0aaa6,
        footer: #5e5a58,
        header: #b0aaa6,
        shadow: #655b5d,
        font-color: #2c2c2c,
        font-color-shadow: #494949,
        form-background: rgba(238, 238, 238, 0.93),
        form-background-two: rgba(224, 224, 224, 0.87)
)