@use "sass:map";

@mixin font () {
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  letter-spacing: 2px;
  color: map.get($colors, main-font-color);
}

@mixin linkProps () {
  text-decoration: none;
  font-size: 1.2rem;
  @include font;

  &:hover {
    color: white;
  }
}

@mixin main () {
  background-color: map.get($colors, main);
  height: 90vh;
}

@mixin position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin headline {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 55px 0 65px 0;
  color: map.get($colors, main-font-color);
  text-shadow: 5px 5px 10px map.get($colors, shadow);
  text-align: center;
}
