@use "sass:map";

@mixin font () {
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  letter-spacing: 2px;
  color: map.get($try, font-color);
}

@mixin linkProps () {
  text-decoration: none;
  font-size: 1.5rem;
  @include font;

  &:hover {
    color: white;
    text-shadow: 0 0 8px map.get($try, shadow);
    cursor: pointer;
  }
}

@mixin background () {
  background-color: map.get($try, background);
  height: 90vh;
}

@mixin position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin headline {
  font-family: 'Bebas Neue', cursive;
  font-size: 3.5rem;
  font-weight: bold;
  padding: 65px 0 55px 0;
  color: map.get($try, font-color);
  text-shadow: 5px 5px 10px map.get($try, font-color-shadow);
  text-align: center;
  text-decoration: underline 5px map.get($colors, accent);
  text-underline-offset: 5px;
}

@mixin notice {
  margin: 20px 50px 0 50px;
  padding: 5px 0 5px 0;
  background-color: transparent;
  border: none;
  @include font;
  font-size: 2rem;
}

