@use "sass:map";
@import "mixins";

.page {
  @include background;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 10rem;

  .infoMessage {
    @include linkProps
  }

  .image {
    width: 20rem;
    margin: 0.5rem 3rem;
    border: 3px solid map.get($try, font-color-shadow);
  }
}

@media (max-width: 792px) {
  .page {
    overflow-y: scroll;
    padding: 4rem 0;

    .image {
      width: 18rem;
      margin-bottom: 2rem;
    }
  }
}

