@use "sass:map";
@import "mixins";

* {
  box-sizing: border-box;
}

.sintar {
  @include main ();

  &_header {
    @include headline;

  }

  &_div {
    margin: 0 7rem;
    padding: 1rem 3rem;
    box-shadow: 0 0 20px -10px map.get($colors, shadow) inset;
    border-radius: 10px;
  }

  &_text {
    color: map.get($try, font-color);
    font-size: 1.1rem;
    line-height: 2rem;
    height: 29rem;
    overflow-y: scroll;
    text-shadow: 0 0 1px map.get($try, font-color-shadow);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .text {
    color: map.get($colors, main-font-color);
  }

  span {
    font-weight: bold;
  }
}
